* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

ul,ol,li {
    list-style: none;
}

:root {
    --primary-color: #F07807;
    --secundary-color:#FEF8F2;;
    --default-shadow: 0 4px 4px #0004;
    --default-padding: 0px 80px;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: var(--secundary-color) ;
}

header {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 60px;
    top: 60px;
    align-items: center;
    padding: var(--default-padding);
    z-index: 99;
    background-color: #fff5;
}

.pi {
    width: 32vw;
    height: 41vh;
}

.mobile {
    display: none;
}

.hero {
    flex-grow: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
    gap: 700px;
}

.hero h2 {
    font-size: 4rem;
    width: 550px;
    font-weight: 400;
    margin-bottom: 64px;
}

.container-produtos {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 170px;
    justify-content: space-between;
}

.hero span {
    color: var(--primary-color);
    gap: 64px;
}

.pizza img {
    width: 370px;
    height: 245px;
    border-radius: 10%;
}

.pizza {
    position: relative;
    display: flex;
}

.add-produto {
    position: absolute;
    right: -20px;
    top: -20px;
    width: 40px;
    height: 40px;
    opacity: 0;
    display: grid;
    place-content: center;
    font-size: 32px;
    color: white;
    border-radius: 12px;
    border: 4px solid white;
    background-color: var(--primary-color);
    transition: .3s;
}

.pizza:hover .add-produto {
    opacity: 1;
}

.pizza:hover .container-info {
    bottom: 0;
}
.animacao {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    border-radius: 0 0 12px 12px;
}

.container-info {
    background-color: black;
    position: absolute;
    width: 100%;
    height: 36px;
    bottom: -36px;
    border-radius: 0 0 12px 12px;
    display: flex;
    gap: 50px;
    padding: 0 3px;
    justify-content: center;
    align-items: center;
    transition: .5s;
}

.container-info p {
    font-size: 12px;
    color: white;
    width: 120px;
}

.container-info span {
    color: white;
    background-color: var(--primary-color);
    height: 25px;
    border-radius: 5px;
    
    
}

header menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 48px;
}

header li {
    padding: 1px 12px;
    transition: 0.5s;
}

header li:hover {
    background-color: var(--secundary-color);
    box-shadow: var(--default-shadow);
}

section {
    height: 100vh;
    
}

.home {
    background-image: url(./img/bg-home.svg);
    background-repeat: no-repeat;
    background-position: top right;
    background-size: contain;
    padding: var(--default-padding);
    display: grid;
    grid-template-rows: 3fr 1fr;
}

.cardapio {
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: var(--default-padding)
}

.titulo-secao {
    display: flex;
    align-items: center;
    gap: 18px;
}

.titulo-secao h3 {
    font-size: 40px;
    color: var(--primary-color);
    font-weight: 600;
    text-transform: uppercase;
}

.titulo-opcoes {
    display: flex;
    justify-content: space-between;
    color: var(--primary-color);
}

.titulo-opcoes h4 {
    font-size: 1.5rem;
    font-weight: 600;
}

.titulo-opcoes a {
    font-size: 1.5rem;
    font-weight: 600;
}

.opcoes-cardapio {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 400px;
    border-bottom: 2px solid var(--primary-color);
    padding-bottom: 30px;
}

.pizza .bebida {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}


.pizza.bebida img {
    width: 130px;
    height: 240px;
}


.servicos {
    height: auto;
    padding: var(--default-padding);
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    /* Padding top e bottom, o block serve para os dois */
    padding-block: 32px;
    gap: 32px;
}

.opcoes-servicos {
    display: flex;
    justify-content: space-between;
}

.servico-card {
    width: 400px;
    height: 500px;
    border: 4px solid var(--primary-color);
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 40px;
}

.servico-card img {
    /* Filter para ignoar areas que nao sao transparentes */
    filter: drop-shadow(2px 2px 4px #667);
}

.servico-card h4 {
    font-size: 2.5rem;
    color: var(--primary-color);
    font-weight: 500;
    text-shadow: var(--default-shadow);
}

.servico-card p {
    text-align: center;
    font-size: 1.2rem;
    text-shadow: var(--default-shadow);
}

.pizza.bebida {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    padding: 16px;
    transition: .5s;
}
.pizza.bebida:hover {
    box-shadow: 2px 2px 8px #CCC;
}

.pizza.bebida .valor {
    color: var(--primary-color);
    width: 100%;
}
.pizza.bebida .descricao {
    font-size: 8px;
}

.coquinha {
    height: 100%;
}

.opcoes-cardapio.coca {
    border: none;
}

.contatos-container {
    display: flex;
    gap: 32px;
    width: 70%;
    flex-grow: 1;
    justify-content: space-between;
}

.contatos-item {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding-top: 124px;
}

.contatos-item menu {
    display: flex;
    flex-direction: column;
    gap: 16px;
    font-weight: 300;
}

.contatos-item li {
    display: flex;
    gap: 16px;
}

.contatos-item h4 {
    font-size: 1.5rem;
    font-weight: 500;
}

.creditos {
    height: 72px;
    width: 100%;
    border-top: 1px solid var(--secundary-color);
    text-align: center;
    display: grid;
    place-content: center;
    font-size: 0.7rem;
    font-weight: 300;
    font-style: italic;
}

.contatos-item.logo {
    justify-content: center;
    padding: 0;
}

.social a {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid #fff;
    display: grid;
    place-content: center;
    font-size: 1.5rem;
    transition: 0.5s;
}

.social a:hover {
    background-color: var(--secundary-color);
    color: var(--primary-color);
}

footer {
    height: 526px;
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: white;
}

header button {
    height: 48px;
    width: 120px;
    background-color: var(--secundary-color);
    border-radius: 12px;
    border: none;
    box-shadow: var(--default-shadow);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    font-weight: 800;
    color: var(--primary-color);
    
}

@media (max-width: 1024px) {

    header {
        position: absolute;
        background-color: transparent;
        left: 0;
        top: 48px;
    }

    header menu {
        position: fixed;
        height: 64px;
        width: 100vw;
        left: 0;
        bottom: 0;
        background-color: var(--primary-color);
        z-index: 99;
        font-size: 25px;
        justify-content: space-evenly;
        pointer-events: none;
    }

    header li:hover {
        color: var(--primary-color);
    }

    .home {
        grid-template-rows: none;
    }

    .home .container-produtos {
        display: none;
    }

    .hero {
        flex-direction: column-reverse;
        gap: 0;
        justify-content: end;
        align-items: center;
        padding-bottom: 64px;
    }

    .pi {
        width: 500px;
    }

    .container-produtos .pizza:nth-child(3),
    .container-produtos .pizza:nth-child(4)
    {
        display: none;
    }

    .container-produtos .pizza {
        width: 100%;
    }

    .container-produtos img {
        width: 100%;
    }

    .cardapio {
        justify-content: center;
        gap: 30px;
    }

    .container-produtos .pizza.bebida:nth-last-child(1) {
        display: none;
    }

    .pizza.bebida {
        width: auto;
    }

    .opcoes-servicos {
        flex-direction: column;
    }

    .servico-card {
        width: 100%;
        height: 260px;
        flex-wrap: wrap;
    }

    .servico-card p {
        width: 60%;
    }
    
    .contatos-item:nth-child(2)
    {
        display: none;
    }

    .contatos-item {
        padding: 0;
    }

    .contatos-container {
        height: 400px;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
    }

    .contatos-item.social {
        align-items: end;
    }

    .creditos {
        margin-bottom: 64px;
    }

    @media (max-width: 390px) {
        
        .home {
            background-image: url(./img/mobile.jpg);
            background-size: cover;
            
            
        }

        .hero img {
            display: none;
            width: 100%;
            height: 100%;
            position: absolute;
        }
    
        .hero h2 {
            font-size: 30px;
            width: 290px;
        }
    
        header {
            gap: 50px;
        }
    }

}    